h3{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color:#84b07d;
    padding: 5px 20px 15px 30px;
    border: 1px solid lightgreen;
    border-radius:20;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="radio"],
textarea{
    width:100%;
    padding:12px;
    border: 1px solid green;
    border-radius: 5px;
    
}
button.form{
    background-color: darkgreen;
    color:black;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width:100%;
    
}
button.form:hover{
    background-color: lightgreen;
}
